<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498505194595-eh4r7eg6g8g7q76vi4ncvr0b760fp6m0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498505194595-eh4r7eg6g8g7q76vi4ncvr0b760fp6m0</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ajndE3wqcbFjDmYDnGjbuwkaDljlwjA</string>
	<key>GCM_SENDER_ID</key>
	<string>498505194595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.remindly.remindly</string>
	<key>PROJECT_ID</key>
	<string>remindly-revisionbyte</string>
	<key>STORAGE_BUCKET</key>
	<string>remindly-revisionbyte.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498505194595:ios:ac459461f87e18ec4f6c56</string>
</dict>
</plist>